$("#barunyediv").append("test lo!")
$("#barunyediv").append("<%= @data%>")
#$("#barunyediv").html("<%= escape_javascript(render(@products)) %>"); 
#$("#barunyediv").empty();
#<% for role in @user.roles.order(id: :asc) %>
#  $("#testing").append("<div class='col-md-12'>");
# $("#testing").append("<%= role.name %></div><BR>");
#<% end %>

