/ %tr
/   %th{:colspan=>"#{@sas.count*2};"}= t 'student.attendance.class_schedule_details'
/ %tr
/   %td{:style => "width:100px; padding:5px;"} &nbsp;
/   - @sas.each_with_index do |studentattendance, index|
/     /- @one_student_atts_count=studentattendances.count
/     /- @one_student_atts=studentattendances.sort_by{|u|u.weeklytimetable_detail.get_time_slot}
/     %td{:style => "width:250px; font-weight: bold; padding:5px;"}=index+1               
/ %tr
/   %td{:style => "width:100px;"}=t('student.attendance.subject')
/   - @sas.each_with_index do |studentattendance, index|
/     %td{:style => "width:250px; padding:5px;"}=studentattendance.weeklytimetable_detail.weeklytimetable_topic.full_parent
/ %tr
/   %td{:style => "width:100px;;"}=t('student.attendance.topic')
/   - @sas.each_with_index do |studentattendance, index|
/     %td{:style => "width:250px; padding:5px;"}=studentattendance.weeklytimetable_detail.weeklytimetable_topic.subject_list
/ %tr
/   %td{:style => "width:100px; padding:5px;"}=t('student.attendance.date')
/   - @sas.each_with_index do |studentattendance, index|
/     %td{:style => "width:250px; padding:5px;"}=studentattendance.weeklytimetable_detail.get_date_day_of_schedule+" "
/ %tr
/   %td{:style => "width:100px; padding:5px; "}=t('student.attendance.time')
/   - @sas.each_with_index do |studentattendance, index|
/     %td{:style => "width:250px; padding:5px;"}= studentattendance.weeklytimetable_detail.get_time_slot
/ %tr
/   %td{:style => "width:100px; padding:5px;"}=t('student.attendance.lecturer')
/   - @sas.each_with_index do |studentattendance, index|
/     %td{:style => "width:250px; padding:5px;"}=studentattendance.weeklytimetable_detail.weeklytimetable_lecturer.staff_with_rank
/ %tr
/   %td{:style => "width:100px; padding:5px;"}=t('student.attendance.intake2')
/   - @sas.each_with_index do |studentattendance, index|
/     %td{:style => "width:250px; padding:5px;"}=studentattendance.weeklytimetable_detail.weeklytimetable.schedule_intake.name 

- lecturer_count=WeeklytimetableDetail.where(id: @sas.map(&:weeklytimetable_details_id).uniq).pluck(:lecturer_id).uniq.count

%tr
  %th{:colspan=>6, style: 'text-align: center;'}= t 'student.attendance.class_schedule_details'
%tr
  %th No
  %th=t('student.attendance.subject')
  %th=t('student.attendance.topic')
  %th=t('student.attendance.date')
  %th=t('student.attendance.time')
  - if lecturer_count > 1
    %th=t('student.attendance.lecturer')

- @sas.each_with_index do |sa, ind|
  %tr
    %td
      =ind+=1
      /=sa.weeklytimetable_details_id
    %td=sa.weeklytimetable_detail.weeklytimetable_topic.full_parent
    %td=sa.weeklytimetable_detail.weeklytimetable_topic.subject_list
    %td=sa.weeklytimetable_detail.get_date_day_of_schedule+" "
    %td=sa.weeklytimetable_detail.get_time_slot
    - if lecturer_count > 1
      %td=sa.weeklytimetable_detail.weeklytimetable_lecturer.staff_with_rank