/- @resultlines.group_by{|x|x.examresult.programmestudent.programme_list}.sort.each do |programme, resultlines|
- @resultlines.group_by{|x|x.examresult.intake.monthyear_intake}.each do |intake, resultlines|
  %tr
    /%td.group{colspan: 2, width: '60%'}=(t 'examresult.programme_id')+" : "+programme
    %td.group{colspan: 2}=(t 'examresult.intake')+" : "+intake.try(:strftime, '%m/%Y')
  /- resultlines.group_by{|x|x.examresult.intake}.each do |intake, resultlines2|
  - resultlines.group_by{|x|x.examresult.programmestudent.programme_list}.sort.each do |programme, resultlines2|
    %tr
      %td.group{colspan: 2}
        %span
          /=(t 'exam.examresult.intake')+" :"
          /=intake.monthyear_intake.try(:strftime, '%b %Y').upcase
          =(t 'examresult.programme_id')+" : "+programme
    - resultlines2.group_by{|x|x.student}.sort.each do |student, resultlines3|  
      - for resultline in resultlines3.sort_by{|x|x.examresult_id}
        %tr
          %td{width: '60%'}= link_to resultline.student.student_with_rank, show2_exam_examresults_path(id: resultline.id)
          %td{width: '40%'}=h resultline.render_status_contra