.col-md-8.col-md-offset-2
  %dl.dl-horizontal
    %dt=t 'exam.examresult.exam_centre'
    %dd=current_user.college.name
  
    %dt=t 'exam.examresult.programme_id'
    %dd=h @resultline.examresult.programmestudent.programme_list
            
    %dt=t 'exam.examresult.examdts'
    %dd=h l(@resultline.examresult.examdts)
          
    %dt=t 'exam.examresult.examdte'
    %dd=h l(@resultline.examresult.examdte)
    
    %dt=t 'exam.examresult.intake'
    %dd=h @resultline.examresult.intake.monthyear_intake.try(:strftime, '%b %Y')

    %br
  
    %dt=t('exam.examresult.student')
    %dd=h @resultline.student.student_with_rank
  
    %dt=t('student.icno')
    %dd=h @resultline.student.icno
  
.col-md-8.col-md-offset-1
  %br
  %table.table.table-bordered
    %head
      %tr
        %th No
        %th.centre=t('exam.examresult.subject_code_name')
        %th.centre=t('exam.exammark.total')
        %th.centre Status
      - prog_id=Intake.find(@resultline.examresult.intake_id).programme_id
      - subjects=Programme.find(prog_id).descendants.where(course_type: 'Subject')
      - @no=0
      - for subject in subjects 
        - grades=Grade.where(student_id: @resultline.student.id).where(subject_id: subject.id)
        - if grades.count > 0
          - finalscore=number_with_precision(grades.first.finalscore, precision: 2).to_s+" %"
          - if grades.first.finalscore > 50
            - subject_status=t('exam.examresult.passed')
          - else
            - subject_status=t('exam.examresult.failed')
        - else
          - finalscore=""
          - subject_status=""
        %tr
          %td=@no+=1
          %td= ('<b>'+subject.code+'</b> - '+subject.name).html_safe
          %td.centre=finalscore
          %td.centre=subject_status
      %tr
        %td{colspan: 2} 
          %strong STATUS KESELURUHAN
        %td.centre{colspan: 2}
          %strong=@resultline.render_status_contra.upcase