.col-md-offset-2
  .form-group
    .col-sm-2.control-label
      = f.label :hod_approved
    .col-md-4
      = f.check_box :hod_approved, :id => 'check_hod_accept'
      .p#span_hod_endorse{:style=>"display:none;"}
        display date
        /= f.text_field :hod_approved_on, class: 'form-control', 'data-behaviour' => 'datepicker_today'
  .form-group
    .col-sm-2.control-label
      = f.label :hod_rejected
    .col-md-4
      = f.check_box :hod_rejected, :id => 'check_hod_reject'
      .p#span_hod_endorse2{:style=>"display:none;"}
        display date 2
        /= f.text_field :hod_rejected_on, class: 'form-control', 'data-behaviour' => 'datepicker_today'        
        /%br= f.text_area :reason, :col=>30, :rows=> 3, :placeholder => "State reason for rejection."