- @special = @count1
- @special2 = @count2

/PART A - timeslots with Errors
/------------------------------
/set which slot contains error (redundant lecturer) : Retrieve day2(WD), time_slot2(WD weekdays), time_slot(WD thursday), is_friday
- a_eday2=Weeklytimetable.assign_error_items(@weeklytimetable,1)
- a_etimeslot=Weeklytimetable.assign_error_items(@weeklytimetable,2)
- a_etimeslot2=Weeklytimetable.assign_error_items(@weeklytimetable,3)
- a_eis_friday=Weeklytimetable.assign_error_items(@weeklytimetable,4)

/PART B - timeslots WITHOUT VALUES
/---------------------------------
/1a,2a,3a Empty Slots for Sun - Wed
- empty_slot = Weeklytimetable.empty_slot(@timeslot,@weeklytimetable,@special)
/4a-display EMPTY FIELDS for Sun - Wed 
- 0.upto(empty_slot.count-1) do |ind_empty|
  - if empty_slot[ind_empty]==colno+(rowno-1)*@special && (empty_slot[ind_empty]>=rowno && empty_slot[ind_empty]<=rowno*@special)
    = render 'sstab_class_edit',{:rowno=>rowno,:colno=>colno}

/1b,2b,3b Exist Time Slots for Thursday
- exist_timeslot_thurs = Weeklytimetable.exist_timeslot_thurs(@timeslot2,@weeklytimetable,@count1)
- exist_day2_thurs = 0
/4b-display EMPTY FIELDS for Thursday
/- if exist_timeslot_thurs.include?(colno+@count1)==false && rowno==exist_day2_thurs  
- if exist_timeslot_thurs.include?(colno)==false && rowno==exist_day2_thurs  
  = render 'sstab_class_edit', {:rowno=>rowno,:colno=>colno}

/1c,2c,3c Empty Slots for Weekends
- empty_slot_weekend = Weeklytimetable.empty_slot_weekend(@timeslot,@weeklytimetable,daycount_check) 
/4c-display EMPTY FIELDS for Weekends
- if daycount_check==1 || daycount_check==2
  - 0.upto(empty_slot_weekend.count-1) do |ind_empty_weekend|
    //- if empty_slot_weekend[ind_empty_weekend]==33+(rowno-6)*7+colno
    /- if empty_slot_weekend[ind_empty_weekend]==(@special*4+@count2)+(rowno-6)*7+colno
    - if empty_slot_weekend[ind_empty_weekend]==(@special*4+@count2)+(rowno-6)*@special+colno
      = render 'sstab_class_edit',{:rowno=>rowno,:colno=>colno}
      /=empty_slot_weekend
/PART C - timeslots WITH VALUES - note, in (xx.day2!=5 || xx.day2!=6) => 0:Thurs, 1-4:Sun-Wed, 5:Friday, 6:Saturday
/-------------------------------------------------------------------------------------------------------------------
- @weeklytimetable.weeklytimetable_details.each do |xx|
  /- if (xx.day2 == rowno && xx.time_slot2 == colno && (xx.day2!=6 || xx.day2!=7)) || (xx.is_friday == true && rowno==0 && xx.time_slot == @count1+colno) || ( xx.time_slot2 == colno && (xx.day2==rowno))
  - if (xx.day2 == rowno && xx.time_slot2 == colno && (xx.day2!=6 || xx.day2!=7)) || (xx.is_friday == true && rowno==0 && xx.time_slot == colno) || ( xx.time_slot2 == colno && (xx.day2==rowno))
    /(xx.day2==rowno))
    / && (rowno==xx.day2+1)) 

    /DISPLAY Error message for redundant Lecturer in corresponding time slot(s) (items retrieved from PART A - timeslots with Errors)
    - 0.upto(a_eday2.count) do |t|
      - if a_eday2[t]==xx.day2 && ((a_eis_friday[t]==false && a_etimeslot2[t]==xx.time_slot2) || (a_eis_friday[t]==true && a_etimeslot[t]==xx.time_slot))
        %font{:color => "red", :style=> "bold"}=t('training.weeklytimetable.duplicate_lecturer2')
        %br
    	
    = render 'sstab_class_edit2', {:xx=>xx,:rowno=>rowno,:colno=>colno}
    /- if xx.weeklytimetable_topic.ancestry_depth == 4 
    /= xx.weeklytimetable_topic.parent.parent.code
    /%br= xx.weeklytimetable_topic.parent.name
    /- else
    /= xx.weeklytimetable_topic.parent.code
    /%br= xx.weeklytimetable_topic.name
    /= xx.weeklytimetable_lecturer.name
    /%br= xx.weeklytimetable_location.name
    /= "(K)" if xx.lecture_method == 1
    /= "(T)" if xx.lecture_method == 2
    /= "(A)" if xx.lecture_method == 3
    /%br  
    /UNREMARK above line to display details
