.about
  %h1=t('home.about_us')
  %h4.centre=t('home.software_credits')
  %h2=t('home.designed_by')
  %p Yaacob Noor
  %h2=t('home.software_development')
  %p  Yaacob Noor
  %p  Nurhashimah Hassan
  %p  Siti Shaliza Awang
  %p  Anwar Nor
  %p  Raqib Hakim
  %p  Qadrie Ismail
  %p  Azim Adnan
  %p  Irshaduddin
  %h2=t('home.tester')
  %p  Mustafa Kamal

  %br
  %br
  %h2= link_to image_tag("powered_by_rails.png", alt: "Rails"), 'http://rubyonrails.org/'
