.about
  %h1 About Us
  %h4.centre Software Credits
  %h2 Designed By
  %p Yaacob Noor
  %h2 Software Development
  %p  Yaacob Noor
  %p  Nurhashimah Hassan
  %p  Siti Shaliza Awang
  %p  Anwar Nor
  %p  Raqib Hakim
  %p  Qadrie Ismail
  %p  Azim Adnan
  %p  Irshaduddin
  %h2 Tester
  %p  Mustafa Kamal

  %br
  %br
  %h2= link_to image_tag("powered_by_rails.png", alt: "Rails"), 'http://rubyonrails.org/'
