%ul.nav.nav-pills.nav-stacked{role: "tablist"}
 - if leave_notifications > 0
  %li= link_to content_tag(:span, "#{leave_notifications}", class: "badge") + "  Leave application for approval", staff_leaveforstaffs_path
  %li= link_to content_tag(:span, "#{leave_notifications}", class: "badge") + "  Leave application for approval", staff_leaveforstaffs_path
