%ul.nav.nav-pills.nav-stacked{role: "tablist"}
 - if student_notification_of_leave.count > 0
  %li= link_to "Your leave request for #{student_notification_of_leave.first.strftime('%d-%m-%Y')} has been approved", student_leaveforstudents_path
  
 /31Okt2016
 - if borrower_student_late_library_books > 0
  %li=link_to content_tag(:span, "#{borrower_student_late_library_books}", class: "badge") +((t 'notifications.late_return_book')+ "<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+(t 'notifications.check_email')).html_safe, "#"
