- provide(:title, "About Us")
.about
  %h1 About Us
  %h4.centre Software Credits
  %h2 Designed By
  %p Yaacob Noor
  %h2 Software Development
  %p  Yaacob Noor
  %p  Nurhashimah Hassan
  %p  Siti Shaliza Awang
  %p  Anwar Nor
  %p  Raqib Hakim
  %p  Qadrie Ismail


