- provide(:title, "KEWPA Download / Link List")
.page-header
  %h1 KEW PA Download / Link List

.tab-content
  #home.tab-pane.fade.in.active
    %table.table-striped.table-hover.ogma
      %thead
        %tr
          %th Name
          %th Description
          %th Type
      %tbody
        %tr
          %td KEW.PA-1
          %td Borang Laporan Penerimaan Aset Alih Kerajaan
          %td link

        %tr
          %td KEW.PA-2
          %td Daftar Harta Modal
          %td link
		  
        %tr
          %td KEW.PA-3
          %td Daftar Inventori
          %td link
		  
        %tr
          %td KEW.PA-4
          %td Senarai Daftar Harta Modal
          %td link
		  
        %tr
          %td KEW.PA-5
          %td Senarai Daftar Inventori
          %td link
		  
        %tr
          %td KEW.PA-6
          %td Daftar Pergerakan Daftar Harta Modal dan Inventori
          %td link
		  
        %tr
          %td KEW.PA-7
          %td Senarai Aset Alih Kerajaan (mengikut lokasi)
          %td link
		  
        %tr
          %td KEW.PA-8
          %td Laporan Tahunan Harta Modal Dan Inventori Bagi Tahun .........
          %td link
		  
        %tr
          %td KEW.PA-9
          %td Borang Aduan Kerosakan Aset Alih Kerajaan
          %td link
		  
        %tr
          %td KEW.PA-10
          %td Laporan Pemeriksaan Harta Modal
          %td link
		  
        %tr
          %td KEW.PA-11
          %td Laporan Pemeriksaan Inventori
          %td link
		  
        %tr
          %td KEW.PA-12
          %td Sijil Tahunan Pemeriksaan Harta Modal & Inventori
          %td link
		  
        %tr
          %td KEW.PA-13
          %td Senarai Aset Alih Kerajaan yang Memerlukan Penyelenggaraan
          %td link
		  
        %tr
          %td KEW.PA-14
          %td Daftar Penyelenggaraan Harta Modal
          %td link
		  
        %tr
          %td KEW.PA-15
          %td Lantikan sebagai Pemeriksa Pelupusan Aset Alih Kerajaan
          %td link
		  
        %tr
          %td KEW.PA-16
          %td Daftar Penyelenggaraan Harta Modal
          %td link
		  
        %tr
          %td KEW.PA-17
          %td Laporan Lembaga Pemeriksa Aset Alih Kerajaan
          %td link
		  
        %tr
          %td KEW.PA-18
          %td Sijil Penyaksian Pemusnahan Aset Alih Kerajaan
          %td link
		  
        %tr
          %td KEW.PA-19
          %td Sijil Pelupusan Pemusnahan Aset Alih Kerajaan
          %td link
		  
        %tr
          %td KEW.PA-20
          %td Laporan Tahunan Pemusnahan Aset Alih Kerajaan
          %td link
		  
        %tr
          %td KEW.PA-21
          %td Kenyataan Tawaran Tender Pelupusan Aset Alih Kerajaan
          %td link
		  
        %tr
          %td KEW.PA-22
          %td Borang Tender Pelupusan Aset Alih Kerajaan
          %td link
		  
        %tr
          %td KEW.PA-23
          %td Jadual Tender Pelupusan Aset Alih Kerajaan
          %td link
		  
        %tr
          %td KEW.PA-24
          %td Kenyataan Tawaran Sebutharga Pelupusan Aset Alih Kerajaan
          %td link
		  
        %tr
          %td KEW.PA-25
          %td Borang Sebutharga Pelupusan Aset Alih Kerajaan
          %td link
		  
        %tr
          %td KEW.PA-26
          %td Jadual Sebutharga Pelupusan Aset Alih Kerajaan
          %td link
		  
        %tr
          %td KEW.PA-27
          %td Kenyataan Jualan Lelong Aset Alih Kerajaan
          %td link	
		  
        %tr
          %td KEW.PA-27(A)
          %td Senarai Aset Yang Dilelong
          %td link	
		  
        %tr
          %td KEW.PA-28
          %td Laporan Awal Kehilangan Aset Alih Kerajaan
          %td link	
		  
        %tr
          %td KEW.PA-29
          %td Perlantikan Jawatankuasa Penyiasat Kehilangan Aset Alih Kerajaan
          %td link	
		  
        %tr
          %td KEW.PA-30
          %td Laporan Akhir Kehilangan Aset Alih Kerajaan
          %td link	
		  
        %tr
          %td KEW.PA-31
          %td Sijil Hapus Kira Aset Alih Kerajaan
          %td link	
		  
        %tr
          %td KEW.PA-32
          %td Laporan Tindakan Surcaj/Tatatertib Aset Alih Kerajaan
          %td link			  		  		  		  		  		  	  		  		  		  		  		  		  		  		  		  		  		  		  		  		  		  		  		  		  	  		  			  		  
