.page-header
  %h1 Dashboard
  
.row
  .col-md-3{:style => "float:right;  background:#DDD;"} 
    Events
  
  .col-md-3{:style => "float:left;  background:#DDD;"} 
    Notification

  .col-md-6.centre{:style => " background:red;"} 
    Calender

%br
	
.row	
  .col-md-3{:style => "float:left;  background:#DDD;"} 
    Bulletin