.page-header

.jumbotron
 %h1
  =t('library.main2')
  /.small test
  .centre{style: 'font-size: 30px; color: grey; padding-top: 10px;'}=t('library.general_title')
  
 %h3.centre
  = link_to content_tag(:i, "", :class => "fa fa-ship fa-2x fa-pull-left") + " " + t('.back', :default => (t "repositories.list2")), index2_repositories_path, class: "btn btn-default"
  = link_to content_tag(:i, "", :class => "fa fa-book fa-2x fa-pull-left") + " " + t('.back', :default => (t "library.book.list")), library_books_path, class: "btn btn-default"

 .centre{style: 'padding-bottom: 1px; color: grey;'}
  \_______________________________________________________________________________________________________________
 /%br
 
 .row
  .col-md-12.centre
   =link_to (t "library.transaction.rules_regulations"), flexipage_campus_page_path(74) ,:class => "btn btn-primary"
   =link_to (t "library.transaction.manager"), manager_library_librarytransactions_path, :class => "btn btn-primary"
   /= link_to (fa_icon "book", text: (t "library.book.list")), library_books_path, :class => "btn btn-primary"
   /=link_to (fa_icon "list", text: (t "repositories.list2")), index2_repositories_path, :class => "btn btn-primary"
   .btn-group
    %button.btn.btn-primary.dropdown-toggle{"data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
     =(t 'library.transaction.title')
     %span.caret
    %ul.dropdown-menu
     %li=link_to content_tag(:i, "", :class => "fa fa-ship fa-pull-left") + " " + t('.back', :default => (t "repositories.list2")), repository_loan_library_librarytransactions_path
     /%li=link_to (t "repositories.list2"), repository_loan_library_librarytransactions_path
     %li=link_to content_tag(:i, "", :class => "fa fa-book fa-pull-left") + " " + t('.back', :default => (t "library.book.general_books")), library_librarytransactions_path
     /%li=link_to (t "library.book.general_books"), library_librarytransactions_path
   .btn-group
    %button.btn.btn-primary.dropdown-toggle{"data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
     =(t "library.transaction.analysis_statistic")
     %span.caret
    %ul.dropdown-menu
     %li=link_to content_tag(:i, "", :class => "fa fa-book fa-pull-left") + " " + t('.back', :default => (t "library.book.general_books")), analysis_statistic_library_librarytransactions_path
   .btn-group
    %button.btn.btn-primary.dropdown-toggle{"data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
     =(t "library.borrower_list")
     %span.caret
    %ul.dropdown-menu
     /%li=link_to (t "library.borrower_list"), campus_visitors_path
     /%li=link_to (t 'campus.address.title'), campus_address_books_path
     %li=link_to content_tag(:i, "", :class => "fa fa-user fa-pull-left") + " " + t('.back', :default =>(t "library.borrower_list")), campus_visitors_path
     %li=link_to content_tag(:i, "", :class => "fa fa-envelope fa-pull-left") + " " + t('.back', :default =>(t 'campus.address.title')), campus_address_books_path
   =link_to (t 'library.help'), flexipage_campus_page_path(80), :class => "btn btn-primary"

=fa_icon('address')
/= link_to content_tag(:i, "", :class => "fa fa-book fa-pull-left fa-border") + " " + t('.back', :default => (t "library.book.list")), "#", class: "btn btn-default"
/%BR
/.row
/ .btn-group
/  %button.btn.btn-primary.dropdown-toggle{"data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
/   =(t 'library.transaction.title')
/   %span.caret
/  %ul.dropdown-menu
/   %li=link_to (t "library.book.book2"), library_librarytransactions_path
/   %li=link_to (t "repositories.list2"), repository_loan_library_librarytransactions_path
      

     

/.row
/ .col-sm-6.col-md-4
/  .thumbnail=image_tag('MY.png')
/  .caption
/   %h3 Thumbnail label
/   %p 
/    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
/   =link_to "button", "#", :class => "btn btn-primary"
/   =link_to "button", "#", :class => "btn btn-default"
/     <a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>


/Sistem Perpustakaan Teknikal Digital