.row
  .col-md-10.col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to (t "asset.disposal.details"), "#details", "data-toggle" => "tab"
    / display
    .tab-content{style:"padding-top:1em"}
      .col-md-offset-2 
        .form-group
          .col-sm-2.control-label
            = f.label :asset_id
          .col-md-7
            = f.collection_select :asset_id, Asset.where('id IN (?)',@disposal.for_disposal).order(assetcode: :asc), :id, :code_typename_serial_no, {:include_blank =>t('helpers.prompt.select_marked_asset'), :selected => @disposal.asset_id},{class: 'selectpicker', "data-width"=>'550px'} 
            .small.text-grey=t('asset.disposal.defect_to_dispose').html_safe

      #details.tab-pane.active
        %br
        = render 'tab_details_edit', :f => f
