/- if @defective.process_type == "dispose" && @defective.decision == true
/= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_asset_disposal_path(:asset_id => @defective.asset) 
/select asset to dispose among 'marked for disposed' asset       