# Ignore bundler config
/.bundle

#Ignore Configs
Gemfile.lock
config/database.yml

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
bundler_stubs/
*.orig


.backup
db/migrate/bin/*
public/assets/**
public/assets/books/*
public/assets/bulletins/*
public/assets/examquestions/*
public/assets/notes/*
public/assets/staffs/*
public/assets/students/*
public/system/**
public/excel_format_local/*.xls
tmp/
tmp/**/*