- model_class = Examresult
.row
  .col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to ((t 'exam.examresult.details2')),"#examresult_details", "data-toggle" => "tab"

    / display 
    .tab-content{style:"padding-top:1em"}
      .col-md-8.col-md-offset-1
        - if @examresult.new_record?
          = render :partial => 'show_main_edit', :locals => {:f => f}
        - else
          = render 'show_main'

      #examresult_details.tab-pane.active
        .col-md-11
          %br
          - unless @examresult.new_record?
            = render :partial => 'form_results', :locals => {:f => f}   

    
          