- @subjects=result.examresult.retrieve_subject
- @cara_kerja=Programme.where(course_type: 'Diploma').where('name ILIKE (?)', 'Jurupulih Perubatan Cara Kerja').first.id
- @perubatan=Programme.where(course_type: 'Diploma').where('name ILIKE (?)', 'Penolong Pegawai Perubatan').first.id
- final_all=[]
- final2_all=[]
- credit_all=[]
- credit2_all=[]
- for subject in @subjects
  - @student_grade = Grade.where('student_id=? and subject_id=?',result.student.id, subject.id).first
  - @student_finale = Grade.where('student_id=? and subject_id=?',result.student.id, subject.id).first
  - english_subjects=['PTEN', 'NELA', 'NELB', 'NELC', 'MAPE', 'XBRE', 'OTEL'] 
  - if subject.code.size >9
    - credit_all << subject.code[10,1].to_i
    - credit2_all << subject.code[10,1].to_i if english_subjects.include?(subject.code[0,4])==false
  - elsif subject.code.size < 10
    - credit_all << subject.code[-1,1].to_i 
    - credit2_all << subject.code[-1,1].to_i if english_subjects.include?(subject.code[0,4])==false
  %tr
    %td
      %b=subject.code
      &nbsp;
      =subject.name
    %td.centre
      - if english_subjects.include?(subject.code[0,4])
        \-
      - else
        - unless @student_finale.nil? || @student_finale.blank? 
          =sprintf('%.2f', @student_finale.set_NG.to_f)
          - final_all << @student_finale.set_NG.to_f
          - final2_all << @student_finale.set_NG.to_f
        - else
          =sprintf('%.2f', 0.00)
          - final_all << 0.00
          - final2_all << 0.00
    %td.centre
      - if english_subjects.include?(subject.code[0,4])
        \-
      - else
        /=@grading=@student_grade.set_gred unless @student_grade.nil? || @student_grade.blank?
        =@student_grade.render_grading[-1,2] unless @student_grade.nil? || @student_grade.blank?
    %td.centre
      =result.examresult.examdts.try(:strftime, '%b %Y')
%tr
  %th{rowspan: 2}=(t 'exam.examresult.completed_credit')+" = "+result.examresult.total_credit.to_s
  %th.centre=t 'exam.examresult.total_point'
  %th.centre=t 'exam.examresult.gpa'
  %th.centre=t 'exam.examresult.cgpa'
%tr
  %th.centre
    /=h result.total.nil? ? "" : sprintf('%.2f',result.total)
    =total_point=number_with_precision(Examresult.total(final2_all, credit_all), precision: 2)
  %th.centre
    /=h result.pngs17.nil? ? "" : sprintf('%.2f',result.pngs17)
    /gpa must exclude English subjects, coz only have STATUS (Lulus or Gagal) value.
    =gpa=number_with_precision(Examresult.pngs17((final2_all.inject{|sum,x|sum+x}), credit2_all), precision: 2)
    
  %th.centre=cgpa if cgpa
