- if Programme.where(course_type: 'Diploma').pluck(:id).include?(@resultlines.first.examresult.programme_id)
  - total_credit_hours = @resultlines.first.examresult.total_credit+@resultlines[1].examresult.total_credit+@resultlines[2].examresult.total_credit+ @resultlines[3].examresult.total_credit+@resultlines[4].examresult.total_credit+@resultlines[5].examresult.total_credit
  - sem_no=5
- else
  - total_credit_hours = @resultlines.first.examresult.total_credit+@resultlines[1].examresult.total_credit
  - sem_no=1
- final_cgpa=Examresult.cgpa_per_sem(@resultlines, sem_no)
%tr
  %th{rowspan: "2", bgcolor: "#E6E6E6"}=t 'exam.examresult.completed_credit_hours'+" = "+total_credit_hours.to_s
  %th.centre{colspan: "2", bgcolor: "#E6E6E6"}=t 'exam.examresult.total_grade_point'+" :"
  %th.centre{bgcolor: "#E6E6E6"}=t 'exam.examresult.cgpa'
%tr
  %th.centre{colspan: "2", bgcolor: "#E6E6E6"}=number_with_precision(Examresult.total_grade_points(@resultlines), precision: 2)
  %th.centre{bgcolor: "#E6E6E6"}= number_with_precision(final_cgpa, precision: 2)