%fieldset
  .form-inline{role: "form"}
    = f.text_field :description, :class => 'text_field input-small', :placeholder => 'Description'
    = f.hidden_field :document_id, :value => 1
    = f.text_field :reported_on, type: "text", :class => 'form-control', 'data-behaviour' => 'datepicker_before'
/= link_to_remove_fields (fa_icon "trash-o"), f
/- f.collection_select :unit_type_id, UnitType.all, :id, :description, :include_blank => (t 'helpers.prompt.select_unit_type'), :html_options => {:class => 'selectpicker'}
/- f.hidden_field :_destroy
/- link_to_remove_fields (fa_icon "trash-o"), f     