= render 'tab_show_skt_1'
- if (@staff_appraisal.is_skt_submit == true && @staff_appraisal.is_skt_endorsed == true) || @staff_appraisal.evaluation_status == t('staff.staff_appraisal.staff_appraisal_complete')
  = render 'tab_show_skt_endorse' 
- if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.ready_for_ppp_skt_report') || @staff_appraisal.evaluation_status == t('staff.staff_appraisal.ppp_report_complete') || @staff_appraisal.evaluation_status == t('staff.staff_appraisal.submitted_for_evaluation_by_ppp') || @staff_appraisal.evaluation_status == t('staff.staff_appraisal.ppp_report_complete') || @staff_appraisal.evaluation_status == t('staff.staff_appraisal.submitted_by_ppp_for_evaluation_to_PPK') || @staff_appraisal.evaluation_status == t('staff.staff_appraisal.staff_appraisal_complete')
  =render 'tab_show_skt_review'  
- if @staff_appraisal.evaluation_status == t('staff.staff_appraisal.ppp_report_complete') || @staff_appraisal.evaluation_status == t('staff.staff_appraisal.submitted_for_evaluation_by_ppp') || @staff_appraisal.evaluation_status == t('staff.staff_appraisal.submitted_by_ppp_for_evaluation_to_PPK') || @staff_appraisal.evaluation_status == t('staff.staff_appraisal.staff_appraisal_complete')
  = render 'tab_show_skt_review_eval1'