.col-md-9.col-md-offset-1 
  %dl.dl-horizontal  
    %dt= t 'helpers.label.staff_appraisal.is_skt_endorsed'
    %dd= h @staff_appraisal.is_skt_endorsed? ? "Yes, on " + (@staff_appraisal.skt_endorsed_on.try(:strftime, '%d %b %Y'))   : "No" 
  %br
