= search_form_for @search, url: students_path,  class: "form-inline" do |f|
  %tr.search_row.hidden
    %td= f.text_field :icno_cont, size: 2,  :class => "form-control"
    %td= f.text_field :name_cont, size: 2,  :class => "form-control"
    %td.input-group
      = f.text_field :matrixno_start, size: 2,  :class => "form-control"    	  
      %span.input-group-btn
        %button.btn.btn-sm.btn-default.right{:type => "submit"}
          %i.fa.fa-search.fa-fw