.col-md-offset-2
  .form-group
    .col-md-5
      = f.text_field :spm_subject, :placeholder => 'Subject', class: 'form-control'
    .col-md-3
      = f.text_field :grade, :placeholder => "Grade", class: 'form-control'