.col-md-offset-1
  .form-group
    .col-sm-5
      =f.label t 'student.students.subject'
    .col-sm-3
      =f.label t 'student.students.grade'

  .row
    = f.fields_for :spmresults do |builder|
      = render 'spmresult_fields', :f => builder
    .col-sm-2= link_to_add_fields content_tag(:i, "", class: "fa fa-plus-square")+" "+(t 'addmore'), f, :spmresults, "", t('addmore')