- model_class = Student
.page-header
  %h1= t('student.students.list')#, :default => model_class.model_name.human.pluralize
= render 'shared/flashes'
= render :partial => "students/#{current_user.college.code}/index", :locals =>{:allstudents => @students}
