#page1
  %a#about
  Title Page
  with Logo
  Courses
  Login
#page2
  %a#portfolio
  About the College
#page3
  %a#contact
  Latest News
#page4
  Courses : http://www.cornellcollege.edu/academics/index.shtml
#page5
  Blog Event
#page6
  Support Question Form
#page7
  Logo
  Copyright
  Credits
  Footer
  http://www.insitedesignlab.com/how-to-make-a-single-page-website/