- if bed.tenants.last.try(:keyreturned) != nil
  /Empty
  =t 'student.tenant.empty'
- else 
  - if bed.tenants.last.try(:force_vacate)==true
    /Empty
    =t 'student.tenant.empty'
  - else
    /= bed.tenants.last.try(:student).try(:name) || "Empty"
    = bed.tenants.last.try(:student).try(:name) || (t 'student.tenant.empty')
  /= bed.tenants.last.try(:student).try(:name) || "Empty"
%br
= bed.try(:parent).try(:combo_code)
%br
= bed.name