= render partial: 'code_name_form', locals:{ f: f}
.row
  .text-red{style: 'padding-left: 320px;'}=(t 'or').upcase
              
.row
  .col-md-8
    %hr
   
/ t('equery.asset.certificate_witness')
.form-group
  .col-sm-2.control-label
    =f.label (t 'asset.disposal.discard_options')
  .col-md-5
    = f.select :discardoption, options_for_select([[(t 'asset.disposal.bury'),"bury"],[(t 'asset.disposal.burn') ,"burn"],[(t 'asset.disposal.throw') , "throw"],[(t 'asset.disposal.sink') ,"sink"]]), {:include_blank => (t 'select') }, {class: 'selectpicker'}
