- model_class = Assetsearch
.page-header
  %h1=t('equery.asset.search')+" KEW-PA : "+@assetsearch.render_search_type
= render 'shared/flashes'

.row
  .col-md-offset-1
    =render partial: 'asset_listing', locals: {assetsearch: @assetsearch, assets: @assets}