= search_form_for @search, url: participants_expenses_staff_training_ptschedules_path, class: "form-inline" do |f|
  %tr.search_row{style: "display: none;"}
    %td
    %td
    %td
    %td=f.text_field :course_name_cont, size: 2, class: 'form-control' 
    %td
      ="("+t('staff.training.schedule.start')+") "+t('from')
      =f.text_field :start_gteq, size:2, class:  'date_picker_reverse form-control'
      =t('to')
      =f.text_field :start_lteq, size:2, class:  'date_picker_reverse form-control'
    %td 
    %td=f.text_field :final_price_eq, size:2, class: 'form-control'
    %td
    %td=f.text_field :min_participants_eq, size: 2,  class:  'form-control'
    %td=f.select :payment_eq, DropDown::PAYMENT, {:include_blank => (t 'all_records'), "data-width" => "auto"}, {class: 'selectpicker'}
    %td
      .input-group
        =f.text_field :remark_cont, size: 2, class: 'form-control'
        %span.input-group-btn
          %button.btn.btn-sm.btn-default.right{:type => "submit"}
            %i.fa.fa-search.fa-fw