%fieldset
  .row
    .col-md-offset-1.col-sm-7
      = f.hidden_field :_destroy
      - student_list=f.object.new_record? ? Student.where.not(id: Mentee.pluck(:student_id)) : Student.all
      = f.collection_select :student_id, student_list.order(rank_id: :asc, name: :asc), :id, :student_with_rank, {include_blank: (t 'select')}, {class: 'selectpicker', "data-width"=>"auto"}
    .col-sm-1= link_to content_tag(:i, "", class: "fa fa-trash-o"), "#", class: "removing_fields"
    
:javascript
  $('.selectpicker').selectpicker('render');

  $('.removing_fields').click(function(){
    var fieldset=$(this).parent().parent().parent();
    var row=$(this).parent().parent();
    var all_fields=row.children().children();
    var destroyer=all_fields[0];
    destroyer.value=true;    
    fieldset.hide();
  });