= search_form_for @search, url: banks_path,  class: "form-inline" do |f|
  %tr.search_row{style: "display: none;"}
    %td= f.text_field :short_name_cont, size: 2,  :class => "form-control"
    %td= f.text_field :long_name_cont, size: 2,  :class => "form-control"
    %td
      .input-group
        =f.text_field :active_cont, size: 2, class: 'form-control'
        %span.input-group-btn
          %button.btn.btn-sm.btn-default.right{:type => "submit"}
            %i.fa.fa-search.fa-fw