.col-md-offset-2   
  .form-group
    .col-sm-2.control-label
      = f.label :status
    .col-md-2
      - if @student_discipline_case.status != nil && @student_discipline_case.status == "Closed" && !(@student_discipline_case.case_created_on.nil? ||  @student_discipline_case.investigation_notes.nil? || @student_discipline_case.closed_at_college_on.nil? || @student_discipline_case.other_info.blank? || @student_discipline_case.action.blank?)
        =t('student.discipline.closed')
        /elsif @student_discipline_case.status != nil && @student_discipline_case.status == "Refer to TPHEP"
        /Refer to TPHEP
      
      - else
        - if current_user.college.code=='amsas'
          = f.select :status, options_for_select(@student_discipline_case.status_workflow_amsas.collect {|v,i| [v, i] }, @student_discipline_case.status), {:prompt => t('select')}, {class: 'selectpicker', "data-width" => "auto"}
        - else
          = f.select :status, options_for_select(@student_discipline_case.status_workflow.collect {|v,i| [v, i] }, @student_discipline_case.status), {:prompt => t('select')}, {class: 'form-control'}
        /= f.select :status, options_for_select(@student_discipline_case.status_workflow.collect {|v,i| [v] }, @student_discipline_case.status), {:prompt => t('select')}, {class: 'form-control'}
        
  