- model_class=StudentDisciplineCase
.col-md-8.col-md-offset-1
  %dl.dl-horizontal
    %dt=t 'student.discipline.room_no', :default => model_class.human_attribute_name(:room_no)+":" 
    %dd=h @student_discipline_case.room_no
    
    /when case submitted to Mentor / Counselor
    - if ["Ref Counselor", "Ref Mentor"].include?(@student_discipline_case.action_type)
      %dt
        - if @student_discipline_case.college.code=='amsas'
          =(t 'student.discipline.evaluate_case2')
          - counselor=Position.where('unit ILIKE(?)', '%Kaunseling%').pluck(:staff_id)
          - mentor=Staff.joins(:mentor).pluck(:id)
          ="(Counselor)" if counselor.include?(@student_discipline_case.assigned2_to)
          ="(Mentor)" if counselor.include?(@student_discipline_case.assigned2_to)
        - else
          =t 'student.discipline.other_info', :default => model_class.human_attribute_name(:other_info)+":" 
      %dd{style: 'padding-left: 70px;'}=h @student_discipline_case.other_info

    /action & close date by Ketua Sekolah(no case) / Mentor / Counselor / Comandant
    %dt=t 'student.discipline.action', :default => model_class.human_attribute_name(:action)+":" 
    %dd=h @student_discipline_case.action
    
    %dt=t 'student.discipline.closed_at_college_on', :default => model_class.human_attribute_name(:closed_at_college_on)+":" 
    %dd= @student_discipline_case.closed_at_college_on.try(:strftime, '%d %b %Y')
    