- model_class=StudentDisciplineCase
.col-md-8.col-md-offset-1
  %dl.dl-horizontal
    - if current_user.college.code=="kskbjb"
      %dt=t 'student.discipline.matrix_no', :default => model_class.human_attribute_name(:matrix_no)+":"
      %dd=h @student_discipline_case.student.try(:matrixno)
    
    %dt=t 'student.discipline.address', :default => model_class.human_attribute_name(:address)+":"
    %dd=h @student_discipline_case.student.try(:address)
    
    %dt=t 'student.discipline.room_no', :default => model_class.human_attribute_name(:room_no)+":"
    %dd=@student_discipline_case.try(:room_no)
    
    %dt=t 'student.discipline.programme', :default => model_class.human_attribute_name(:programme)+":"
    %dd=h @student_discipline_case.student.try(:course).try(:programme_list)
    
    %dt=t 'student.discipline.intake', :default => model_class.human_attribute_name(:intake)+":"
    %dd
      - if @student_discipline_case.college.code=='amsas'
        Siri
        =h @student_discipline_case.student.intake_id.blank? ? @student_discipline_case.student.intake.try(:strftime, "%m/%Y") :  @student_discipline_case.student.intakestudent.monthyear_intake.try(:strftime, "%m/%Y")
      - else
        =h @student_discipline_case.student.intake_id.blank? ? @student_discipline_case.student.intake.try(:strftime, "%B %Y") :  @student_discipline_case.student.intakestudent.monthyear_intake.try(:strftime, "%B %Y")
    
    %dt=t 'student.discipline.infraction_id', :default => model_class.human_attribute_name(:infraction)+":"
    %dd=h (DropDown::INFRACTION.find_all{|disp, value| value == @student_discipline_case.infraction_id}).map {|disp, value| disp}[0]
    
    -  if @student_discipline_case.infraction_id == 4 
      %dt=t 'student.discipline.description'
      %dd=h @student_discipline_case.description