= search_form_for @search, url:  users_path,  class: "form-inline" do |f|
  %tr.search_row{style: "display: none;"}
    %td=f.text_field :email_cont, :size=> 2,  class:  'form-control'
    %td=f.text_field :keyword_search, :size => 2, class: 'form-control'
    %td= select_tag('q[userable_type_eq]',options_for_select([[t('actions.all_records'),''],[t('staff.title'),'Staff'],[t('student.title'),'Student']]),class: 'selectpicker',"data-width"=>'100px')
    %td
      .input-group
        %span.input-group-btn
          %button.btn.btn-sm.btn-default.right{:type => "submit"}
            %i.fa.fa-search.fa-fw