= search_form_for @search, url:  users_path,  class: "form-inline" do |f|
  %tr.search_row{style: "display: none;"}
    - if is_developer?
      %td=select_tag('q[college_id_eq]', options_for_select([[t('actions.all_records'),'']]+College.all.collect{|x| [x.code.upcase, x.id]}), class: 'selectpicker', "data-width" => '100px')
    %td=f.text_field :email_cont, :size=> 2,  class:  'form-control'
    %td=f.text_field :keyword_search, :size => 2, class: 'form-control'
    %td=f.text_field :position_search, :size => 2, class: 'form-control'
    %td= select_tag('q[userable_type_eq]',options_for_select([[t('actions.all_records'),''],[t('staff.title'),'Staff'],[t('student.title'),'Student']]),class: 'selectpicker',"data-width"=>'100px')
    %td
      = f.text_field :roles_name_cont, :size => 2, class: 'form-control'
      .input-group
        %span.input-group-btn
          %button.btn.btn-sm.btn-default.right{:type => "submit"}
            %i.fa.fa-search.fa-fw