%table.table-striped.table-hover.ogma
  %thead
    %tr
      %th{style: "width:10%;"}=t 'staff.icno'
      %th{style: "width:10%;"}=t 'staff.staffgrade_id'
      %th{style: "width:20%;"}=t 'staff.rank_id'
      %th{style: "width:40%;"}=t 'staff.name'
      %th{style: "width:20%;"}=t 'staff.position'
    %tbody
      = render "search_bar"
      - @staffs.each do |staff|
        %tr
          %td=link_to formatted_mykad(staff.icno), staff_info_path(staff)
          %td=staff.staffgrade.try(:name)
          %td=staff.try(:rank).try(:name)
          %td=staff.name 
          %td
            -for position in Position.where(id: staff.valid_posts)
              = position.name
              <BR>
            - if is_developer? || (is_admin? &&  icms_acct?)
              - for apost in staff.positions
                - unless staff.valid_posts.include?(apost.id)
                  .small.text-red="* #{apost.combo_code} | #{apost.name}"