%td
 .btn-group.dropdown
  %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
   .span.caret
  %ul.dropdown-menu.pull-right.action_menu
   %li= link_to content_tag(:i, "", :class => "fa fa-file "), kewpa3_asset_asset_path(@asset, format: "pdf"),
                  {class: "btn btn-default", "data-toggle" => "tooltip", title: "KEW.PA 3 PDF"}


      