s.fixed_selector{style: "display:none;"}        
  .alert.alert-info.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
    %strong Last Asset:
    = Asset.where(assettype: 1).last[:assetcode] rescue 0