.row
  .spacer
  .col-md-12
    = link_to (t 'conversation.compose'), new_conversation_path, class: "btn btn-success"
    .spacer
  .col-md-4
    .panel.panel-default
      .panel-body
        = render 'mailbox/folders'
  .col-md-8
    .panel.panel-default
      .panel-body
        / individual conversations will show here
        - if is_conversation
          = render 'conversations/form'
        - else
          - if current_page?(controller: 'mailbox', action: 'inbox')
            .alert.alert-warning
              %strong=(t 'conversation.remark')+": "
              %font{style: 'color: red;'}*
              =t 'conversation.indicates_unread'
          = render partial: 'conversations/conversation', collection: messages