%tr
  %th.center{colspan: 7}KAD MENCATAT WAKTU
%tr
  %th{colspan: 2} B No
  %th{colspan: 5}="NAMA : #{Staff.find_by_thumb_id(staffattendances.first.thumb_id).staff_with_rank}"
%tr
  %td{colspan: 7}="<b>KEM / JAB : </b>#{staffattendances.first.college.name}".html_safe
%tr
  %td{colspan: 7}="<b>BAHAGIAN / SEKSYEN : </b>#{staffattendancesearch.department}".html_safe
%tr 
  %td{colspan: 7, style: 'height: 40px, valign: bottom;'}="<b>BULAN : </b>#{staffattendancesearch.logged_at.strftime("%B %Y")}".html_safe
%tr
  %th HARI
  %th MASUK
  %th KELUAR
  %th MASUK
  %th KELUAR
  %th KENYATAAN
  %th T/T KETUA