- byday=staffattendancesearch.staffattendances.group_by{|x|(x.logged_at).strftime('%d %b %Y')}
- shift=Staff.where(thumb_id: staffattendancesearch.thumb_id).first.staff_shift
- shift_s=shift.start_at 
- shift_e=shift.end_at
          
/4) Display front card
%span.punchcard-front    
  %table.table.table-bordered.equery-punchcard
    - cpg=StaffAttendance.punchcard(byday, 1)
    = render :partial => 'card_heading', locals: {staffattendancesearch: @staffattendancesearch, cardpage: cpg.keys[0]}
    = render :partial => 'attendance_rows', locals: {cardpage: cpg, shift_start: shift_s, shift_end: shift_e}
    /Footer
    %tr
      %td.punchcard-column{colspan: 7}
        %BR
        %u
          %strong AMARAN
        %br
        Sesiapa yang didapati mengetik kad orang lain, 
        %br tindakan tatatertib akan diambil ke atasnya.       
            
/5) Display back of the card
%span.punchcard-back
  %table.table.table-bordered.equery-punchcard
    - cpg=StaffAttendance.punchcard(byday, 2)
    = render :partial => 'card_heading', locals: {staffattendancesearch: @staffattendancesearch, cardpage: cpg.keys[0]}
    = render :partial => 'attendance_rows', locals: {cardpage: cpg, shift_start: shift_s, shift_end: shift_e}
    /Footer
    %tr
      %td.punchcard-column{colspan: 7}
        %u
          %strong AMARAN
        %br
        Sesiapa yang didapati mengetik kad orang lain, 
        %br tindakan tatatertib akan diambil ke atasnya.