.col-md-10.col-md-offset-1
  %dl.dl-horizontal

    %dt=t 'student.student_counseling_session.confirmed_at'
    %dd=@student_counseling_session.confirmed_at.try(:strftime, "%d %b %y, %l:%M %P") 

    %dt=t 'student.student_counseling_session.duration'
    %dd=@student_counseling_session.duration.to_s+" Minutes"
    
    %dt=t 'student.student_counseling_session.alt_dates'
    %dd=@student_counseling_session.alt_dates
    
    %dt=t 'student.student_counseling_session.is_confirmed'
    %dd=@student_counseling_session.is_confirmed? ? "Confirmed" : "Not Confirmed"
