.col-md-10.col-md-offset-1
  %dl.dl-horizontal
  
    %dt
      =t 'student.counseling.actions_referrer1'
      %br=t 'student.counseling.actions_referrer2'
    %dd=h @student_counseling_session.student_discipline_case.action if !@student_counseling_session.case_id.blank? 
    %br
    
    %dt
      =t 'student.counseling.action_counselor1'
      %br=t 'student.counseling.action_counselor2'
    %dd=@student_counseling_session.remark 
    %br
    
    - @case_id = @student_counseling_session.case_id
    - @all_sessions = StudentCounselingSession.where(case_id: @case_id)
    - @other_sessions = StudentCounselingSession.where('case_id=? AND id!=?',@case_id,@student_counseling_session.id).order(confirmed_at: :asc)
    - @session_count = @all_sessions.count  
    
    - if @session_count>1
      %dt
        =t 'student.counseling.related_sessions1'
        %br=t 'student.counseling.related_sessions2'
      %dd
        - @other_sessions.each_with_index do |session,index| 
          =(index+1).to_s+") "+session.confirmed_at.try(:strftime, "%d %b %y, %l:%M %P")
          %br
      
      %dt=t 'student.counseling.total_session'
      %dd=@session_count.to_s+t('student.counseling.include_this')
    %br
    
    - unless @student_counseling_session.student_discipline_case.counselor_feedback== nil|| @student_counseling_session.student_discipline_case.counselor_feedback==''
      %dt
        =t 'student.counseling.counselor_feedback1'
        %br=t 'student.counseling.counselor_feedback2'
      %dd=@student_counseling_session.student_discipline_case.counselor_feedback