.col-md-10.col-md-offset-1
  %dl.dl-horizontal

    %dt=t 'student.student_counseling_session.issue_desc'
    %dd= @student_counseling_session.issue_desc
 
    %dt=t 'student.student_counseling_session.session_notes'
    %dd= @student_counseling_session.notes

    %dt=t 'student.student_counseling_session.suggestions'
    %dd=@student_counseling_session.suggestions