.col-md-offset-2     
  .form-group
    .col-sm-2.control-label
      = f.label t 'instructor_appraisal.staff_id', for: :staff_id
    .col-md-8
      = f.collection_select :staff_id, Staff.joins(:positions).where('positions.name=?', 'Jurulatih').order(rank_id: :asc, name: :asc), :id, :staff_with_rank,{ include_blank: (t 'select')},{class: 'selectpicker', "data-width"=> "300px"}

  .form-group
    .col-sm-2.control-label
      = f.label t 'instructor_appraisal.appraisal_date', for: :appraisal_date
    .col-md-3
      = f.text_field :appraisal_date, class: 'date_picker_reverse form-control mandatory', value: @instructor_appraisal.appraisal_date.try(:strftime, '%d-%m-%Y')