.col-md-10.col-md-offset-1
  %table.table.table-bordered
    %tr
      %th{:colspan=>"5"}=t 'exam.evaluate_course.evaluation_scale'
    %tr
      %td.centre{:width=>"80px;"} 2
      %td.centre{:width=>"80px;"} 1 
      %td.centre{:width=>"80px;"} 0
    %tr
      %td.centre=t 'instructor_appraisal.always_practice'
      %td.centre=t 'instructor_appraisal.frequently_practice'
      %td.centre=t 'instructor_appraisal.rarely_practice'

%table.table.table-bordered
  %tr
    %th{:width=>"20px;"} Siri
    %th{:width=>"300px;"}=t 'instructor_appraisal.question'
    %th{:colspan=>"3"}= t 'instructor_appraisal.score'
  
  - cnt=0  
  - @instructor_appraisal.data.each do |k, v|
    %tr
      %td=cnt+=1
      %td=t('instructor_appraisal'+".q#{cnt}")
      - 2.downto(0) do |count|
        %td{:width=>"20px;"}
          - if v.to_i == count
            %b=v
          - else
            %font{:style=>"color: #D5D3D3;"}=count      


