.col-md-8.col-md-offset-1
  %dl.dl-horizontal
    %dt= t'staff_attendance.thumb_id'
    %dd=h @staff_attendance.try(:attended).try(:thumb_id_with_name_unit)

    %dt= t'staff_attendance.logged_at'
    %dd=h current_user.college.code=='amsas' ? @staff_attendance.try(:logged_at).try(:strftime,  '%d-%m-%Y %H:%M:%S') : @staff_attendance.try(:logged_at).try(:strftime,  '%d %b %Y %H:%M:%S %P')
            
    %dt= t'staff_attendance.log_type'
    %dd=h (DropDown::LOGTYPE.find_all{|disp, value| value == @staff_attendance.log_type.upcase }).map {|disp, value| disp}[0] 
    
    /- if (@staff_attendance.trigger == nil &&@staff_attendance .r_u_late == "flag") || (@staff_attendance.trigger == nil && @staff_attendance.r_u_early == "flag")
    - curr_date=@staff_attendance.logged_at.strftime('%Y-%m-%d')
    - shiftid = StaffShift.shift_id_in_use(curr_date, @staff_attendance.thumb_id)
    - if @staff_attendance.r_u_late(shiftid.to_i) == "flag" || @staff_attendance.r_u_early(shiftid.to_i) == "flag"
      %dt= t'staff_attendance.trigger'
      %dd
        =h @staff_attendance.trigger? ? fa_icon('check') : fa_icon('times')
        - if @staff_attendance.r_u_late(shiftid.to_i) == "flag" 
          =t('staff_attendance.advise_trigger1')+@staff_attendance.late_early(shiftid.to_i)
        - elsif @staff_attendance.r_u_early(shiftid.to_i) == "flag" 
          =t('staff_attendance.advise_trigger2')+@staff_attendance.late_early(shiftid.to_i)
      - if @staff_attendance.trigger.nil? 
        %br
          %i.small.text-grey=t('staff_attendance.advise_trigger3')
      %br
