.col-md-8.col-md-offset-1
  %dl.dl-horizontal          
    %dt= t'staff_attendance.approved_by'
    %dd=h @staff_attendance.try(:approver).try(:name)
            
    %dt= t'staff_attendance.is_approved'
    %dd
      - if @staff_attendance.trigger?
        =h @staff_attendance.is_approved? ? image_tag("tick.png") : image_tag("cross.png")
            
    %dt= t'staff_attendance.approved_on'
    %dd=h @staff_attendance.try(:approved_on).try(:strftime, '%d %b %Y')
    %br
