= search_form_for [:rank, @search], url: staff_ranks_path,  class: "form-inline" do |f|
  %tr.search_row{style: "display: none;"}
    %td= f.text_field :name_cont, size: 8,  :class => "form-control" 
    %td.input-group
      = select_tag "q[:category_eq]", [(t 'all_records'), '']+Rank::RANK_CATEGORY
      /= f.text_field :hdate_eq, size: 2,  :class => "form-control date_picker"
      %span.input-group-btn
        %button.btn.btn-sm.btn-default.right{:type => "submit"}
          %i.fa.fa-search.fa-fw