.row
  .col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active=link_to (t 'average_instructor.details'), "#details", "data-toggle" => "tab"

    .tab-content{style:"padding-top:1em"}
      .col-md-8.col-md-offset-1
        - if @average_instructor.new_record?
          = render 'tab_info_edit', :f => f
          %br
        - else
          %dl.dl-horizontal
            = render 'tab_info'
          %br
          
      #details.tab-pane.active
        = render 'tab_appraisal_edit', :f => f
