.col-md-10.col-md-offset-1
  %dl.dl-horizontal
    - if @asset_loan.is_approved == true
      %dt=t 'asset.loan.is_approved'
      %dd=h @asset_loan.is_approved? ? "#{(t 'asset.loan.approved_date')} #{l(@asset_loan.approved_date) unless @asset_loan.approved_date.nil?} #{t('by2')} #{@asset_loan.try(:hodept).try(:staff_with_rank)}" : "" 
    - else
      %dt Status
      %dd=t 'not_approved'
      
    %dt=t 'asset.loan.approved_note'
    %dd=h @asset_loan.approved_note
