= search_form_for @search, url: travel_log_index_staff_travel_requests_path,  class: "form-inline" do |f|
  %tr.search_row{style: "display: none;"}
    %td=f.text_field :document_refno_cont, size: 2, :class => "form-control"
    %td=f.text_field :applicant_name_cont, size: 2, :class => "form-control"
    %td=f.text_field :destination_cont, size: 2, :class => "form-control"
    %td=f.text_field :depart_at_gteq, :size=> 2,  :class =>  'date-picker select-picker'
    %td=f.text_field :return_at_gteq, :size=> 2,  :class =>  'date-picker'
    %td=f.text_field :document_title_cont, size: 2, :class => "form-control"
    %td.input-group
      %span.input-group-btn
        %button.btn.btn-sm.btn-default.right{:type => "submit"}
          %i.fa.fa-search.fa-fw
       
  :javascript
    $('.date-picker').datetimepicker({
     timepicker:true,
       format: "Y-m-d H:i",
       step: 15,
       defaultSeconds: 0,
       autoclose: true
     }); 
