- model_class=TravelRequest
.col-md-8.col-md-offset-1
  %dl.dl-horizontal
    %dt=t 'staff.travel_request.is_submitted', :default => model_class.human_attribute_name(:is_submitted)+":"
    %dd
      =h @travel_request.is_submitted? ? image_tag("tick.png") : image_tag("cross.png")
      =h @travel_request.try(:submitted_on).try(:strftime, '%d %b %Y')
    
    %dt=t 'staff.travel_request.replaced_by', :default => model_class.human_attribute_name(:replaced_by)+":"
    %dd=h @travel_request.try(:replacement).try(:name)