= search_form_for @search, url:  asset_loans_path,  class: "form-inline" do |f|
  %tr.search_row{style: "display: none;"}
    %td=f.text_field :keyword_search, placeholder: (t 'asset.loan.assetcode_name'), class: 'form-control'  
    %td
      =f.text_field :staff_name_cont, placeholder:  (t 'asset.loan.staff_name'), class: 'form-control'
      =f.text_field :reasons_cont, placeholder: (t 'asset.loan.reasons'), class: 'form-control'
    %td 
      =f.text_field :asset_assignedto_name_cont, placeholder: (t 'asset.loan.loaned_by'), class: 'form-control'
      =f.text_field :asset_assignedto_positions_unit_cont, placeholder: (t 'asset.loan.responsible_unit'), class: 'form-control'
    %td
      =f.text_field :loaned_on_eq, class: 'date_picker_reverse form-control', placeholder: (t 'asset.loan.requested_for'), value: @search.loaned_on_eq.try(:strftime, '%d-%m-%Y')
      =f.text_field :expected_on_eq, class: 'date_picker_reverse form-control', placeholder: (t 'asset.loan.returned_date'), value: @search.expected_on_eq.try(:strftime, '%d-%m-%Y')
    %td=f.text_field :approved_date_eq, class: 'date_picker_reverse form-control', placeholder: (t 'asset.loan.approved_date'), value: @search.approved_date_eq.try(:strftime, '%d-%m-%Y')
    %td
      .input-group
        =select_tag('q[status_search]', options_for_select([[t('actions.all_records'),'0'],[t('asset.loan.onloan'),'1'],[t('asset.loan.pending'),'2'],[t('asset.loan.rejected'),'3'],[ t('asset.loan.overdue'),'4'],[ t('asset.loan.due_date'),'5'],[ t('asset.loan.is_returned'),'6']]), class: 'selectpicker',"data-width"=>'60px') 
        %span.input-group-btn
          %button.btn.btn-sm.btn-default.right{:type => "submit"}
            %i.fa.fa-search.fa-fw