= search_form_for @search, url:  asset_loans_path,  class: "form-inline" do |f|
  %tr.search_row{style: "display: none;"}
    %td=f.text_field :asset_name_cont, :size=> 2,  class:  'form-control'
    %td=f.text_field :reasons_cont, :size=> 2,  class:  'form-control'
    %td &nbsp;
    %td &nbsp;
    %td=f.text_field :approved_date_eq, class: 'date_picker form-control'
    %td
      .input-group
        select status
        /=f.text_field :positions_name_cont, size: 2, class: 'form-control'
        %span.input-group-btn
          %button.btn.btn-sm.btn-default.right{:type => "submit"}
            %i.fa.fa-search.fa-fw