.col-md-10.col-md-offset-1
  %dl.dl-horizontal

    %dt=t 'asset.loan.staff_id'
    %dd= link_to @asset_loan.staff.try(:staff_with_rank), (staff_info_path(@asset_loan.staff_id)) rescue nil
  
    %dt=t 'asset.loan.reasons'
    %dd=h @asset_loan.reasons
  
    %dt=t 'asset.loan.requested_for'
    %dd=h @asset_loan.loaned_on.try(:strftime, '%d %b %Y')

    %dt= t 'asset.loan.returned_date'
    %dd=h @asset_loan.expected_on.try(:strftime, '%d %b %Y')
    
    - if (@asset_loan.asset.category_id==3 || @asset_loan.asset.category.description.downcase.include?("kenderaan"))
      %dt=t 'asset.loan.driver_id'
      %dd=@asset_loan.driver.staff_with_rank
    - else  
      %dt=t 'asset.loan.loantype'
      %dd
        - if @asset_loan.loantype==1
          = t 'asset.loan.internal'
        - elsif @asset_loan.loantype==2
          = t 'asset.loan.external'
      