%dl.dl-horizontal
  - if @asset_loan.is_approved == true
    %dt=t 'asset.loan.is_approved'
    %dd=h @asset_loan.is_approved? ? (t 'asset.loan.released_on') + (@asset_loan.approved_date.strftime('%d %b %Y')) + t('by2') + @asset_loan.loanofficer.name : "" 
  
    %dt=t 'asset.loan.notify_hod'
    %dd=Staff.find(@asset_loan.hod).name
    
  - else

    %dt Status
    %dd=t 'asset.loan.rejected'
