.col-md-10.col-md-offset-1
  %dl.dl-horizontal
  
    %dt=t 'asset.loan.return_received'
    %dd
      =h l(@asset_loan.returned_on) unless @asset_loan.returned_on.nil?
      =t('by2')+@asset_loan.receivedofficer.try(:name) if @asset_loan.receivedofficer
  
    %dt= t 'asset.loan.remarks'
    %dd=h @asset_loan.remarks 

