.row
  .col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li=link_to (t 'campus.pages.details'), "#details", "data-toggle" => "tab"
      %li.active=link_to (t 'campus.pages.details2'), "#details2", "data-toggle" => "tab"

    .tab-content{style:"padding-top:1em"}
      .col-md-8.col-md-offset-1
        = render 'tab_info_edit', :f => f

      #details.tab-pane
        .col-md-8.col-md-offset-1
          = render 'tab_info_edit2', :f => f        
        
      #details2.tab-pane.active
        .col-md-8.col-md-offset-1
          = render 'tab_body_edit', :f => f
