- if @page.parent_id.present?
  %dt=t 'campus.pages.parent_id'
  %dd=h @page.parent.position_navlabel

%dt=t 'campus.pages.position'
%dd=h @page.position
    
%dt=t 'campus.pages.navlabel'
%dd=h @page.navlabel

%dt=t 'campus.pages.name'
%dd=h @page.name

%dt=t 'campus.pages.title2'
%dd=h @page.title