.col-md-offset-2     
  .form-group
    .col-sm-2.control-label
      = f.label t('campus.pages.navigation'), for: :navigation
    .col-md-6
      .input-group
        .input-group-addon=@page.position
        = f.text_field :navlabel, class: 'form-control', readonly: 'readonly'
      
  .form-group
    .col-sm-2.control-label
      = f.label t('campus.pages.name'), for: :name
    .col-md-6
      = f.text_field :name, class: 'form-control', readonly: 'readonly'
     