= form_for [:library, Librarytransaction.new], remote: true do |f|
  .col-md-3
    =f.text_field :accession_id, :class => 'form-control mandatory'
  .col-md-2
    =f.text_field :checkoutdate, :class => 'form-control', :type => :text, 'data-behaviour' => 'datepicker_before'
  