- if @librarytransaction.ru_staff==true
  - borrowertype='1'
  - test_data=@librarytransaction.staff_id
- else
  - borrowertype='2'
  - test_data=@librarytransaction.student_id
= link_to content_tag(:i, "", class: "fa fa-bookmark"), new_library_librarytransaction_path, {id: "new_link",  :persontype => borrowertype, :loanperson => test_data, remote: true, class: "btn btn-default", :type => "button", "data-toggle" => "tooltip", title: "Add Book"}
