.row
  .col-sm-2= @librarytransaction.try(:accession).try(:accession_no)
  .col-sm-7= link_to @librarytransaction.try(:accession).try(:book).try(:title), '#', class: "bogus"
  .col-sm-2= @librarytransaction.returnduedate