/*@import "bootstrap";*/
@import "bootstrap3-switch";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #999;
$grayDarker: #222;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
[class^="icon-"] {
  background-image:none;
}

/* universal */

html, body, .container, .scroller {
	height: 100%;
}

html { overflow-y: scroll;}
body {}
section {overflow: auto;}
textarea {resize: vertical;}

textarea#myNicEditor, textarea#examquestion_shortessays_attributes_0_subanswer, textarea#examquestion_shortessays_attributes_1_subanswer, textarea#examquestion_shortessays_attributes_2_subanswer {
	width:470%;
	height:100px;
}

.container {
	position: relative;
	overflow: hidden;
	max-width: none !important;
	background: #34495e;
}
/*scroller to activate menu*/
.scroller {overflow-y: scroll;}
.scroller, .scroller-inner {position: relative;}



.centre {text-align: center;}
.right {float:right;}

.center h1 {
  margin-bottom: 10px;
}

.mp-menu {
	a {text-decoration: none; color: #f7f7f7; outline: none;
		&:hover, &:focus {
			color: #fff;
			outline: none;
		}	
	}
	h2 {color: #f7f7f7; }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
.topnav {height:40px; padding:5px 30px 5px 30px; z-index:9000; background-color:#FFF;
  a {color:#606060; font-size:1.3em; padding-right:5px;}
  a:hover{color:#606060; background-color:white; font-size:1.3em;}
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 80%;
  margin-bottom: 15px;
  @include box_sizing;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
input {height: auto !important;}
.mandatory {background-color:#FFF0F5}
.dropdown, select {position: relative;}
.bootstrap-select.mandatory {
  .btn.dropdown-toggle {background-color:#EF98AA}
}

input[type=checkbox] {width:13px; height:13px; *overflow: hidden; }
.form-group {
	padding: 1em 0;
}




/* index */
/* table styles */
.hidden {display:none;}

table.ogma {
  border:collapse; margin-top: 15px; margin-left: 20px; width:97%;
  td.right, th.right{text-align:right;}
  td.centre, th.centre{text-align:center;}
  td.date, th.date {text-align:center; width:80px;}
  td, th {border: 5px solid white;}
  thead {
    th {padding:10px 5px; font-weight:normal; vertical-align:top;
        a {color:white;}
      }
    tr {font-size:0.9em; 
        color:white; background-color:#3574C4;}
    
    th.action {padding:5px; vertical-align:middle; text-align:center; }
  }
  tbody {
    tr {font-size:0.85em !important;}
    td.group{background-color: #999; color:#FFF; font-weight:bold; font-size:1.2em; padding: 5px 0; text-align:center;}
    td {height:35px; padding:5px; vertical-align: top;
      &.number {text-align:right; padding-right:15px;}
    }
    tr.search_row {input {font-size:0.9em !important;}
      .search_row {display:none;}}
  }
}

/* shows */

.dl-horizontal {padding:30px 0 0 0; margin:0;
  dt {font-weight:bold;}
}

.dl-horizontal > dd:after {
  display: table;
  content: "";
  clear: both;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 12px 0 0 0;
  padding: 12px 0 0 0;
  border: solid 1px #999;
  cursor: default;
  z-index: 1151 !important;
  max-width: 500px;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active, a.ui-state-focus {
      background-color: #FFFCB2;
    }
  }
} 

.datepicker {z-index: 1151 !important;}


span.i {font-style:normal !important;}

.legend_object {float:left; padding: 0 8px 0 12px;}
.legend_title {float:left; padding: 0 20px 0 8px; font-size: 0.8em; }

.about {
  h2 {
    padding-bottom:0; margin-bottom:0;
    font-size: 1.2em;
    letter-spacing: -1px;
    text-align: center;
    font-weight: normal;
    color: #999;
  }
  p {
    font-size: 0.9em;
    padding:0; margin:0;
    text-align: center;
  }
}

/* shows */
.table_title {font-weight:bold; text-decoration:underline}
.overdue, .overdue a {background-color:#FAFAFA; font-weight:bold; color:red;}
.full_width{width:50%;}
.tab-content {margin-bottom: 25px;}

//for show_checklist (editing examquestion)
.showform#subtable table {width: 100%; padding: 0; margin: 0;}

table.inline_display {
  margin-top:-16px;
  td {padding: 1px 2px;}
}

//Curriculum Management - tree view
#header_tree, #programme_tree, #semester_tree, #subject_tree, #topic_tree, #subtopic_tree, #subsubtopic_tree {
	 list-style: none; 
}

#header_tree {
	font-size:0.9em; color:white; background-color:#3574C4; padding:10px 5px;
	li span.combo_code { width: 40%; }
	li span.credits { position:absolute; left:750px; }
	li span.status { position:absolute; left:850px; text-align:right; }
	li span.duration { position:absolute; left:950px; }
}

//#programme_tree, #semester_tree { background-color: #f9f9f9; }
#programme_tree li span.Collapsable{ font-size:1.0em;  }
#semester_tree, #subject_tree, #topic_tree, #subtopic_free, #subsubtopic_tree{ li span.Collapsable{ font-size:0.9em; }} 

#programme_tree, #semester_tree , #subject_tree, #topic_tree, #subtopic_tree, #subsubtopic_tree{
	li span.Collapsable
	{
		span.programme_list{ width: 750px;}
		span.credits{ position:absolute; left:750px; }
		span.status{ position:absolute; left:850px; }
		span.duration{ position:absolute; left:950px; }
	}
	
}







