.home_page {
 margin-top:60px;
 .title {
  background-color: #F5F5F5;
  h1 {
   font-size: 5em;
   text-align: left;
   padding: 60px 0 0 30px; margin: 0;
  }
  h2 {
   font-size: 3em;
   text-align: left;
   padding: 0 0 0 30px;
  }
  p {
   padding: 0 0 50px 30px;
   font-size: 0.9em;
   line-height: 1;
   text-align: justify;
   text-justify: inter-word;
  }
 }
 .buttons {
  padding: 50px 0;
 }
 .login {
  padding: 0 0 30px 0;
  h1, h2 {text-align: left; padding-bottom: 5px; margin-bottom:0;}
  .signup {border-left: 1px solid red; margin-left:50px;}
 }

 .home_bulletin {
  background-color: #222;
  .item {
   h1 {font-size: 7.5em; color: #D5D5D5; border-right: 6px solid red;}
   .content {color: white; font-size: 3em; padding: 100px 30px 10px 30px;}
  }
 }

}
