.location {
  background: rgba(0,0,0,0.1); padding:15px 8px; width:12%; float:left; margin:3px; min-height:100px;
  h5 {margin:auto; font-weight:normal; font-size:1.4em; font-family: 'Open Sans', sans-serif; word-wrap: break-word; white-space: normal !important;} 
  &:hover {
     background:rgba(0,0,0,0.5); color:white;
  }
}

.building, .floor{
  background: rgba(0,0,0,0.2); padding:5ondpx; margin:10px; min-height:30px; text-align:center;
  a {color:#FFF !important; text-align:center; font-weight:normal; font-size:0.9em;} 
  
  .floor:hover {background:rgba(0,0,0,0.6); color:white;}
  
}

.room {
  background: rgba(0,0,0,0.3); padding:5px; margin:2px; min-height:35px; min-width:100px; text-align:center; float:left;
  a {color:#FFF !important; text-align:center; font-weight:normal; font-size:0.9em;  word-wrap:break-word; white-space:normal !important;} 
}

.room_index {
  background: rgba(0,0,0,0.25); padding:20px; width:14%; float:left; margin:15px; min-height:50px;
  h5, a {color:#FFF !important; text-align:center; padding-top:7%; font-weight:normal;} 
}

.location_details { padding-top:40px;}

.add {text-align:center;}
.loc_name {padding-top:7px; text-align:center; font-weight:bold;}

a.iko {color:#333 !important; font-size:1.5em;}

.overlay {background: rgba(0,0,0,0.5); padding:20px;
h1 {color:#FFF !important; text-align:left;}
h2 {color:#FFF !important; text-align:left; font-weight:normal; letter-spacing:3px;}
}

/*tenants*/
.tenancy_building {
  background: rgba(0,0,0,0.3); padding:10px 8px; float:left; margin:15px; min-height:100px;
  h5, a {text-align:center;  font-weight:bold; font-size:1em;} 
}

.tenancy_floor{
  background: rgba(0,0,0,0.3); padding:10px; margin:5px;} 

.floor_name {color:white; font-size:0.9em; width:100%; padding-bottom:3px;}

.fbed_occupied {
  background:#CD96CD;  float:left; width:16px; min-height:16px; border: solid thin gray;
}
.fbed_empty {
  background:#EE799F;  float:left; width:16px; min-height:16px; border: solid thin #555;
}
.mbed_occupied {
  background:#96CD96;  float:left; width:16px; min-height:16px; border: solid thin gray;
}
.mbed_empty {
  background:#9F79EE;  float:left; width:16px; min-height:16px; border: solid thin #555;
}

