/additional heading
.col-md-8.col-md-offset-2
  %dl.dl-horizontal
    - if repositorysearch.title.blank? 
      %div{style: 'padding-left: 150px; text-decoration: underline; font-weight: bold;'}=t 'equery.repository.list_all'
    - else
      %div{style: 'padding-left: 200px; text-decoration: underline; font-weight: bold;'}=t 'equery.search_by'
            
    %br
            
    - unless repositorysearch.title.blank?
      %dt=(t 'equery.repository.document_title')
      %dd=repositorysearch.title
            
    - unless repositorysearch.title.blank? 
      .col-md-12
        .col-md-8
          %hr
                
    %dt=(t'equery.repository.total')
    %dd=repositorysearch.repositories.count==0 ? repositorysearch.repositories.count : repositorysearch.repositories.count.to_s+" "+(t 'records')   

/display result
.col-md-7.col-md-offset-2
  %br
  - if repositorysearch.repositories.count > 0

    .right=link_to (fa_icon "print", text: (t 'equery.print_result')), repository_list_repositories_path(format: 'pdf', ids: @repositorysearch.repositories.pluck(:id))
    %table.table.table-bordered.table-condensed.table-hover
      %head
        %tr.info
          %th.centre{width: '15%'} No
          %th{width: '65%'}=t 'equery.repository.document_title'
          %th.centre{width: '25%'}=t 'equery.view'
        
      %body
        - if params[:page]
          - cnt=(params[:page].to_i-1)*10
        - else
          - cnt=0
        /- for repository in @repositorysearch.repositories
        - for repository in repositories.sort_by(&:vessel)
          %tr
            %td.centre=cnt+=1
            %td= link_to repository.title, repository_path(repository)
            %td.centre=link_to (fa_icon "file-pdf-o"), repository.uploaded.url

  .right{style:"padding: 0 10px; margin:0;"}= paginate repositories, :theme => 'twitter-bootstrap-3', :pagination_class => 'pagination-sm'