= search_form_for [:staff, @search], url: staff_infos_path,  class: "form-inline" do |f|
  %tr.search_row.hidden
    %td= f.text_field :icno_start, size: 2,  :class => "form-control"
    %td= f.text_field :name_cont, size: 8,  :class => "form-control"
    %td.input-group
      //= f.text_field :staff_positions_name_cont, size: 8, :class => "form-control"
      %span.input-group-btn
        %button.btn.btn-sm.btn-default.right{:type => "submit"}
          %i.fa.fa-search.fa-fw