- model_class=LessonPlan
.col-md-8.col-md-offset-1
  %dl.dl-horizontal
    %dt=t 'training.lesson_plan.location', :default => model_class.human_attribute_name(:location)+":"
    %dd=h @lesson_plan.try(:schedule_item).try(:weeklytimetable_location).try(:name).blank? ? @lesson_plan.try(:schedule_item).try(:location_desc) : @lesson_plan.try(:schedule_item).try(:weeklytimetable_location).try(:name)
            
    %dt=t 'training.lesson_plan.total_absent', :default => model_class.human_attribute_name(:total_absent)+":"
    %dd=h @lesson_plan.total_absent

    %dt=t 'training.lesson_plan.class_condition', :default => model_class.human_attribute_name(:class_condition)+":"
    %dd=h @lesson_plan.condition_isgood? ? (t 'training.lesson_plan.satisfactory') : (t 'training.lesson_plan.not_satisfactory')

    %dt=t 'training.lesson_plan.reason_condition', :default => model_class.human_attribute_name(:reason_condition)+":"
    %dd=h @lesson_plan.condition_isnotgood? ? simple_format(@lesson_plan.condition_desc) : "-"
    
    %dt=t 'training.lesson_plan.training_aids', :default => model_class.human_attribute_name(:training_aids)+":"
    %dd=h @lesson_plan.training_aids
            
    %dt=t 'training.lesson_plan.lecturer_review', :default => model_class.human_attribute_name(:lecturer_review)+":"
    %dd=h @lesson_plan.summary

    %dt=t 'training.lesson_plan.report_summary', :default => model_class.human_attribute_name(:report_summary)+":"
    %dd
      - if @lesson_plan.college.code=='kskbjb'
        =h @lesson_plan.report_summary? ? @lesson_plan.report_summary : (t 'training.lesson_plan.awaiting_review')
      - else
        =h @lesson_plan.report_summary? ? @lesson_plan.report_summary : (t 'training.lesson_plan.awaiting_review_general')
         
    %dt=t 'training.lesson_plan.report_submit', :default=> model_class.human_attribute_name(:report_submit)+":"
    %dd=h @lesson_plan.report_submit? ? fa_icon('check') : fa_icon('times')

    %dt=t 'training.lesson_plan.endorsed_by', :default=> model_class.human_attribute_name(:endorsed_by)+":"
    %dd=h @lesson_plan.try(:endorser).try(:name)
    
    %dt=t 'training.lesson_plan.report_endorsed', :default=> model_class.human_attribute_name(:endorsed_by)+":"
    %dd=h @lesson_plan.report_endorsed? ? fa_icon('check') : fa_icon('times')
    
    %dt=t 'training.lesson_plan.report_endorsed_on', :default=> model_class.human_attribute_name(:report_endorsed_on)+":"
    %dd=h @lesson_plan.try(:report_endorsed_on).try(:strftime, '%d-%m-%Y')