.col-md-offset-2
  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.intake_id', for: :intake_id
    .col-md-7
      = f.collection_select :intake_id, Intake.all.order(register_on: :desc, id: :desc), :id, :siri_programmelist,{:include_blank=> (t 'select')},{class: 'selectpicker mandatory', "data-width"=>"auto"}

  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.group_id', for: :group_id
    .col-md-4
      /- related=Intake.find(6).division
      /- related.each do |k, v|
      /  .row
      /    .col-md-1= f.radio_button :group_id, k.to_i
      /    .col-md-4= v[:name]

      - arr=[]
      - intake_ids_with_division=Intake.where.not(description: '0').pluck(:id)
      - intake_ids_with_division.each do |intake_id|
        - intake_desc=Intake.find(intake_id).siri_programmelist
        - divs_arr=[]
        - divs= Intake.find(intake_id).division
        - divs.each{|k, v| divs_arr << [v[:name], k]}
        - arr << [intake_desc, divs_arr]

      /= grouped_options_for_select(arr)
      /=Intake.find(@student.intake_id).siri_programmelist
      /=@student.group_id
      =hidden_field_tag "groupid", @student.try(:group_id)
      = select_tag("student[group_id]", grouped_options_for_select(arr), :include_blank => (t 'select'), :class => 'form-control')
      /= select_tag(:student_group_id, grouped_options_for_select(arr), :class => 'form-control')
      #div_group
      
  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.end_training', for: :end_training
    .col-md-3
      = f.text_field :end_training, class: 'form-control date_picker_reverse mandatory', 'data-behaviour' => 'datepicker_today', value: @student.try(:end_training).try(:strftime, '%d-%m-%Y')
  
  .form-group
    .col-sm-2.control-label
      =f.label t 'student.students.remarks', for: :remarks
    .col-md-3
      = f.text_field :course_remarks, class: 'form-control'



:javascript

  // Part A : On load - Edit (saved items)
  //http://stackoverflow.com/questions/27002434/jquery-set-optgroup-selected-value?rq=1
  //----------------------------------------------------------------------------------------------------------------------------------------
  var selected_intake_text=$("#student_intake_id option:selected").text();
  var selected_group_id=$("#groupid").val();

  //will set selected 'option' - of selected 'optgroup[label]'
  var optgroup=$("#student_group_id optgroup[label='"+selected_intake_text+"']");
  var option = optgroup.find("option[value='"+0+"']");
  option.attr('selected', true);
  
  //shall limit display of above selected 'option' in it's 'optgroup[label]' only
  $("#student_group_id").children("optgroup").hide();
  $("#student_group_id").children("optgroup[label='"+selected_intake_text+"']").show();

  // Part B : When Intake_id field changes
  //-----------------------------------------------------------
  $("#student_intake_id").change(function(){
    var selected_intake=$("#student_intake_id option:selected").val();
    var selected_intake_text=$("#student_intake_id option:selected").text();
        
    if (selected_intake!= "")
    {
    
      var group_obj=document.getElementById("student_group_id");
      if (group_obj)       /*when group_id field is on the screen*/
      {
        /*1) Retrieve labels of Intake containing groups & push into array@list*/
      
        var group_optgroups=group_obj.getElementsByTagName('optgroup');
        label_arr=[];
        for (var i=0; i < group_optgroups.length; i++)
        { 
          label_arr.push(group_optgroups[i].getAttribute('label'));
        }
      
        /*2) Display group selection if selected intake is in the array@list, otherwise display no record(group)*/
      
        if (label_arr.indexOf(selected_intake_text) > -1)
        { 
          $("#student_group_id :selected").removeAttr("selected");
          $("#student_group_id").show();
          $("#student_group_id").children("optgroup").hide();
          selected_optgroup=$("#student_group_id").children("optgroup[label='"+selected_intake_text+"']");
          selected_optgroup.show();
        }
        else
        {  
          $("#student_group_id").hide();
        }
        
      }
    }
    else
    {
      /*3) User have to select intake first*/
      
      $("#student_group_id").hide();
    }
  });

