.row
  .col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active=link_to (t 'campus.bookingfacilities.details'), "#details", "data-toggle" => "tab"
      /%li.active=link_to (t 'campus.bookingfacilities.approval'), "#approval", "data-toggle" => "tab"

    .tab-content{style:"padding-top:1em"}
      /.col-md-8.col-md-offset-1
      /  = render 'tab_reservation_edit', :f => f

      #details.tab-pane.active
        .col-md-8.col-md-offset-1
          = render 'tab_reservation_edit', :f => f
          
      /#details2.tab-pane.active
      /  .col-md-8.col-md-offset-1
      /    /= render 'tab_body_edit', :f => f
