.row
  .col-md-offset-1
    / Nav tabs
    %ul.nav.nav-tabs
      %li.active=link_to (t 'campus.bookingfacilities.details'), "#details", "data-toggle" => "tab"

    .tab-content{style:"padding-top:1em"}
      #details.tab-pane.active
        .col-md-8.col-md-offset-1
          = render 'tab_reservation_edit', :f => f

