%dl.dl-horizontal
  %dt=t 'campus.bookingfacilities.approval'
  %dd=@bookingfacility.approval==true ? (t 'approved')+(t 'on2')+@bookingfacility.approval_date.strftime('%d-%m-%Y') : (t 'not_approved')
  
  %dt=t 'campus.bookingfacilities.approver_id'
  %dd=@bookingfacility.approving_staff.try(:staff_with_rank_position)
    
  %dt=t 'campus.bookingfacilities.remark'
  %dd=@bookingfacility.remark