%dl.dl-horizontal
  %dt=t 'campus.bookingfacilities.start_date'
  %dd=h @bookingfacility.start_date.strftime('%d-%m-%Y %H:%M %P')

  %dt=t 'campus.bookingfacilities.end_date'
  %dd=h @bookingfacility.end_date.strftime('%d-%m-%Y %H:%M %P')
  
  %dt=t 'campus.bookingfacilities.total_participant'
  %dd=h @bookingfacility.total_participant
  
  %dt=t 'campus.bookingfacilities.purpose'
  %dd=h @bookingfacility.purpose