.col-md-offset-1
  .form-group
    .col-sm-2.control-label
      = f.label t 'ptbudgets.budget', for: :budget
    .col-md-5
      = f.text_field :budget, class: 'form-control mandatory'


  .form-group
    .col-sm-2.control-label
      = f.label t 'ptbudgets.fys', for: :fiscalstart
    .col-md-5
      = f.text_field :fiscalstart, class: 'form-control mandatory', 'data-behaviour' => 'datepicker_std'


